*{
    background-color: aqua;  
    color: indianred;
}

h1{
    background-color: blueviolet;
    color: antiquewhite;
}

.kuchbhi{
    background-color: chartreuse;
    color: brown;
}

#sumitButton{   
    background-color: cadetblue;
    color: darkorchid;
}

